<form class="form" [formGroup]="pageForm">
  <h2>Editar</h2>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput [readonly]="true" type="number" formControlName="id"  />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput type="text" formControlName="worker" placeholder="Nome"/>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Máquina</mat-label>
    <input matInput type="text" formControlName="machine" placeholder="Nome"/>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Data</mat-label>
    <input matInput type="date" formControlName="date" placeholder="Nome"/>
  </mat-form-field>
</form>
<button class="button" mat-raised-button (click)="postMeasurements()">Enviar</button>
